{% extends 'base.html' %}

{% block content %}
{% load static %}



<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
            {% include 'include/alert.html' %}
            <header class="mb-4">
                <h4 class="card-title">Täze akkaunt döretmek</h4>
            </header>

            <form action="{% url 'register'%}" method='POST'>

                {% csrf_token %}
                {{form.first_name}}
                <br>
                {{form.last_name}}
                <br>
                {{form.phone_number}}
                <br>
                {{form.email}}
                <br>
                {{form.password}}
                <br>
                {{form.confirm_password}}
                <br>
                <button class="tp-in-btn w-100" type="submit">Döret</button>
            </form>
        </article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Akkaundynyňz eýýam barmy ? <a href="{% url 'login' %}">
        Giriş</a></p>
    <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>

{% endblock %}