{% load static %}


<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
        <div class="sidebar-brand-icon rotate-n-15">
        </div>
        <div class="sidebar-brand-text mx-3">
            <p style="font-size: 10px;">{{request.user.username}}</p>
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'admin-user' %}">
            <i class="fa fa-list-alt"></i>
            <span>Harytlar</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">

    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'create-product' %}">
            <i class="fas fa-plus"></i>
            <span>Haryt Goshmak</span>
        </a>
    </li>



    <!-- Nav Item - Tables -->
    <li class="nav-item active" style="border: 1px solid red;">
        <a class="nav-link" href="{% url 'login-user' %}">
            <i class="fas fa-sign-out-alt" style="color: red;"></i>
            <span style="color: red;">Chykmak</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>