{%load static %}


<!-- Top Bar
		============================================= -->
<div id="top-bar" class="dark" style="background-color: #41a801;">
    <div class="container">

        <div class="row justify-content-between align-items-center">

            <div class="col-12 col-lg-auto">
                <p class="mb-0 d-flex justify-content-center justify-content-lg-start py-3 py-lg-0"><strong>Turkden-dan
                        99 TMT -dan ýokary sargyt boýunça mugt eltip bermek. Aňsat gaýdyp gelýär.</strong></p>
            </div>

            <div class="col-12 col-lg-auto d-none d-lg-flex">

                <!-- Top Links
						============================================= -->
                <div class="top-links">
                    <ul class="top-links-container">
                        <li class="top-links-item"><a href="#">Biz barada</a></li>
                        <li class="top-links-item"><a href="#">Habarlaşmak üçin</a></li>
                        <li class="top-links-item"><a href="#">TM</a>
                            <ul class="top-links-sub-menu">
                                <li class="top-links-item"><a href="#"><img src="images/icons/flags/french.png"
                                            alt="French"> FR</a></li>
                                <li class="top-links-item"><a href="#"><img src="images/icons/flags/italian.png"
                                            alt="Italian"> IT</a></li>
                                <li class="top-links-item"><a href="#"><img src="images/icons/flags/german.png"
                                            alt="German"> DE</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- .top-links end -->

                <!-- Top Social
						============================================= -->
                <ul id="top-social">
                    <li><a href="#" class="si-facebook"><span class="ts-icon"><i class="icon-facebook"></i></span><span
                                class="ts-text">Facebook</span></a></li>
                    <li><a href="#" class="si-instagram"><span class="ts-icon"><i
                                    class="icon-instagram2"></i></span><span class="ts-text">Instagram</span></a></li>
                    <li><a href="tel:+1.11.85412542" class="si-call"><span class="ts-icon"><i
                                    class="icon-call"></i></span><span class="ts-text">+1.11.85412542</span></a></li>
                    <li><a href="mailto:info@canvas.com" class="si-email3"><span class="ts-icon"><i
                                    class="icon-envelope-alt"></i></span><span
                                class="ts-text">info@canvas.com</span></a></li>
                </ul><!-- #top-social end -->

            </div>
        </div>

    </div>
</div>

<!-- Header
		============================================= -->
<header id="header" class="full-header header-size-md">
    <div id="header-wrap">
        <div class="container">
            <div class="header-row justify-content-lg-between">

                <!-- Logo
						============================================= -->
                <div id="logo" class="mr-lg-4">
                    <a href="/" class="standard-logo"><img src="{% static 'demos/shop/images/logo.png' %}" alt="Canvas Logo"></a>
							<a href="/" class="retina-logo"><img src="{% static 'demos/shop/images/logo.png' %}" alt="Canvas Logo"></a>
                </div><!-- #logo end -->

                <div class="header-misc">

                    <!-- Top Search
							============================================= -->
                    {% if user.id is None %}
                    <div id="top-account">
                        <a href="{% url 'login' %}"><i class="icon-line2-user mr-1 position-relative"
                                style="top: 1px;"></i><span
                                class="d-none d-sm-inline-block font-primary font-weight-medium">Agza bol</span></a>
                    </div>
                    {% else %}
                    <div id="top-account">
                        <a href="{% url 'dashboard' %}"><i class="icon-line2-user mr-1 position-relative"
                                style="top: 1px;"></i><span
                                class="d-none d-sm-inline-block font-primary font-weight-medium">Profil {{request.user.username}}</span></a>
                    </div>
                    {% endif %}


                    <!-- Top Cart
							============================================= -->
                    <div id="top-cart" class="header-misc-icon d-none d-sm-block">
                        <a href="{% url 'cart' %}"><i class="icon-line-bag"></i><span
                                class="top-cart-number">{{cart_items|length}}</span></a>



                    </div>


                    <!-- Top Search
							============================================= -->
                    <div id="top-search" class="header-misc-icon">
                        <a href="#" id="top-search-trigger"><i class="icon-line-search"></i><i
                                class="icon-line-cross"></i></a>
                    </div><!-- #top-search end -->

                </div>

                <div id="primary-menu-trigger">
                    <svg class="svg-trigger" viewBox="0 0 100 100">
                        <path
                            d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20">
                        </path>
                        <path d="m 30,50 h 40"></path>
                        <path
                            d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20">
                        </path>
                    </svg>
                </div>

                <!-- Primary Navigation
						============================================= -->
                <nav class="primary-menu with-arrows mr-lg-auto">

                    <ul class="menu-container">
                        <li class="menu-item {% if '//' in request.path %} current {% endif %}"><a class="menu-link" href="/">
                                <div style="text-align: center;">Baş</div>
                            </a></li>
                        <li class="menu-item {% if '/store/' in request.path %} current {% endif %} mega-menu"><a class="menu-link" href="{% url 'store' %}">
                                <div style="text-align: center;">Harytlar</div>
                            </a>
                            <div class="mega-menu-content mega-menu-style-2">
                                <div class="container">
                                    <div class="row">
                                        <ul class="sub-menu-container mega-menu-column border-left-0 col-lg-3">
                                            <li class="menu-item mega-menu-title"><a class="menu-link" href="#">
                                                    <div>Sport eşikleri</div>
                                                </a>
                                                <ul class="sub-menu-container">
                                                    {% for i in category_1 %}
                                                    <li class="menu-item"><a class="menu-link"
                                                            href="{% url 'store' i.id %}">
                                                            <div>{{i.title}}</div>
                                                        </a></li>
                                                    {% endfor %}
                                                </ul>
                                            </li>

                                            <li class="menu-item mega-menu-title"><a class="menu-link" href="#">
                                                    <div>Aýakgap</div>
                                                </a>
                                                <ul class="sub-menu-container">
                                                    {% for i in category_2 %}

                                                    <li class="menu-item"><a class="menu-link"
                                                            href="{% url 'store' i.id %}">
                                                            <div>{{i.title}}</div>
                                                        </a></li>
                                                    {% endfor %}

                                                </ul>
                                            </li>
                                        </ul>
                                        <ul class="sub-menu-container mega-menu-column border-left-0 col-lg-3">
                                            <li class="menu-item mega-menu-title"><a class="menu-link" href="#">
                                                    <div>Meşhur harytlar</div>
                                                </a>
                                                <ul class="sub-menu-container">
                                                    {% for i in category_3 %}
                                                    <li class="menu-item"><a class="menu-link"
                                                            href="{% url 'store' i.id %}">
                                                            <div>{{i.title}}</div>
                                                        </a></li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                            <li class="menu-item mega-menu-title"><a class="menu-link" href="#">
                                                    <div>Ýakynlaň üçin</div>
                                                </a>
                                                <ul class="sub-menu-container">
                                                    {% for i in category_4 %}
                                                    <li class="menu-item"><a class="menu-link"
                                                            href="{% url 'store' i.id %}">
                                                            <div>{{i.title}}</div>
                                                        </a></li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul class="sub-menu-container mega-menu-column border-left-0 col-lg-3">
                                            <li class="menu-item mega-menu-title"><a class="menu-link" href="#">
                                                    <div>Özin üçin</div>
                                                </a>
                                                <ul class="sub-menu-container">
                                                    {% for i in category_5 %}
                                                    <li class="menu-item"><a class="menu-link"
                                                            href="{% url 'store' i.id %}">
                                                            <div>{{i.title}}</div>
                                                        </a></li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                            <!-- <li class="menu-item mega-menu-title"><a class="menu-link" href="#">
                                                    <div>Özin üçin</div>
                                                </a>
                                                
                                            </li> -->


                                        </ul>
                                        <ul class="sub-menu-container mega-menu-column col-lg-3 border-left-0">
                                            <li class="card p-0 bg-transparent border-0">
                                                <img class="card-img-top"
                                                    src="{% static 'demos/shop/images/menu-image.jpg' %}"
                                                    alt="image cap">
                                                <a href="#"
                                                    class="btn btn-link text-left font-weight-medium pl-0 bg-transparent"><u>Editor's
                                                        Pick</u></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="menu-item {% if '/ad/all_ads/' in request.path %} current {% endif %}"><a class="menu-link" href="{% url 'all_ads' %}">
                                <div style="text-align: center;">Haýyr sahabat</div>
                            </a></li>
                        <li class="menu-item"><a class="menu-link" href="{% url 'logout' %}">
                                <div class="responsive" style="text-align: center; border-radius: 5px; margin-bottom: 5%; border:2px solid red; padding: 2%; background-color: red;">Profilden çykmak</div>
                            </a></li>
                        
                    </ul>

                </nav><!-- #primary-menu end -->

                <form class="top-search-form" action="{% url 'search' %}" method="get">
                    <input type="text" name="keyword" class="form-control"  style="color:#41a801 !important" value="" placeholder="Harydyň adyny giriziň"
                        autocomplete="off">
                </form>

            </div>
        </div>
    </div>
    <div class="header-wrap-clone"></div>
</header><!-- #header end -->