{% load static %}
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Montserrat:300,400,500,600,700|Merriweather:300,400,300i,400i&display=swap" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'style.css'  %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/dark.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/swiper.css' %}" type="text/css" />

	<!-- shop Demo Specific Stylesheet -->
	<link rel="stylesheet" href="{% static 'demos/shop/shop.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'demos/shop/css/fonts.css' %}" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="{% static 'css/font-icons.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/animate.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css" />

	<link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="{% static 'css/colors.php?color=000000' %}" type="text/css" />

	<link rel="stylesheet" href="{% static 'demos/articles/articles.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'demos/articles/css/fonts.css' %}" type="text/css" />

	<!-- Document Title
	============================================= -->
	<title>Ýaşyl.com.tm</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- <div class="modal-on-load" data-target="#myModal1"></div> -->

		<!-- On LOad Modal -->
		<!-- <div class="modal1 mfp-hide subscribe-widget mx-auto" id="myModal1" style="max-width: 750px;">
			<div class="row justify-content-center bg-white align-items-center" style="min-height: 380px;">
				<div class="col-md-5 p-0">
					<div style="background: url('images/modals/modal1.jpg') no-repeat center right; background-size: cover;  min-height: 380px;"></div>
				</div>
				<div class="col-md-7 bg-white p-4">
					<div class="heading-block border-bottom-0 mb-3">
						<h3 class="font-secondary nott ">Join Our Newsletter &amp; Get <span class="text-danger">40%</span> Off your First Order</h3>
						<span>Get Latest Fashion Updates &amp; Offers</span>
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis beatae odit cum. Corrupti, tempore atque?</p>	
					</div>
					
					<button class="button button-dark  bg-dark text-white ml-0" type="submit">Subscribe</button>
					<small class="mb-0 font-italic text-black-50">*We also hate Spam &amp; Junk Emails.</small>
				</div>
			</div>
		</div> -->

		

		{% include 'include/header.html' %}

		{% block content %}
		{% endblock %}
		
		{% include 'include/footer.html' %}

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-line-arrow-up"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/plugins.min.js' %}"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="{% static 'js/functions.js' %}"></script>

	<!-- ADD-ONS JS FILES -->
	<script>

	</script>

</body>
</html>