{% extends 'store/base_admin.html' %}
{% load static %}

{% block content %}
            


<div class="container">
    <form class="row g-3" style="display: flex; flex-direction: column;" method="POST"
    action="{% url 'create-product' %}"  enctype="multipart/form-data">
    {% csrf_token %}
    <div class="">

            <!-- {{form.as_p}} -->
            {{form.name}}
            {{form.desc}}
            <hr>
            {{form.image}}
            <hr>
            {{form.image_1}}
            <hr>
            {{form.image_2}}
            {{form.price}}
            {{form.sale_percent}}
            {{form.sale_price}}
            
            <input type="hidden"  name="store" class="form-control " value="{{store.id}}">


            <div class="col-12" style="margin-top: 2%; float: right;">
                <button type="submit" style="float: right;" class="btn btn-primary">YATDA SAKLAMAK</button>
            </div>



        </div>
    </form>

</div>




{% endblock %}