{% extends 'base.html' %}
{% load static %}

{% block content %}





<section id="page-title">

    <div class="container clearfix">
        <h1>Shop</h1>
        <span>Start Buying your Favourite Theme</span>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Shop</li>
        </ol>
    </div>

</section>


<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">


            <div id="shop" class="shop row grid-container gutter-30" data-layout="fitRows">

                <div class="product col-12 col-sm-6 col-lg-12">
                    <div class="grid-inner row no-gutters">
                        <div class="product-image col-lg-4 col-xl-3">
                            <a href="#"><img src="{% static 'images/shop/dress/1.jpg' %}" alt="Checked Short Dress"></a>
                            <a href="#"><img src="{% static 'images/shop/dress/1-1.jpg' %}" alt="Checked Short Dress"></a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content align-items-end justify-content-between"
                                    data-hover-animate="fadeIn" data-hover-speed="400">
                                    <a href="#" class="btn btn-dark mr-2"><i class="icon-shopping-cart"></i></a>
                                    <a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax"><i
                                            class="icon-line-expand"></i></a>
                                </div>
                                <div class="bg-overlay-bg bg-transparent"></div>
                            </div>
                        </div>
                        <div class="product-desc col-lg-8 col-xl-9 px-lg-5 pt-lg-0">
                            <div class="product-title">
                                <h3><a href="#">Checked Short Dress</a></h3>
                            </div>
                            

                            <p class="mt-3 d-none d-lg-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Accusamus, sit, exercitationem, consequuntur, assumenda iusto eos commodi alias aut
                                ipsum praesentium officia pariatur doloremque dolor tenetur esse vitae voluptatibus
                                inventore delectus. Eaque laboriosam quaerat accusamus! Porro, laboriosam temporibus
                                dolorum doloremque dolorem ex ducimus recusandae repellat neque sapiente ab numquam
                                rerum deleniti!</p>
                            <ul class="iconlist d-none d-xl-block mt-md-3">
                                <li><i class="icon-caret-right"></i> Dynamic Color Options</li>
                                <li><i class="icon-caret-right"></i> Lots of Size Options</li>
                                <li><i class="icon-caret-right"></i> Delivered in 3-5 Days</li>
                                <li><i class="icon-caret-right"></i> 30-Day Return Policy</li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>


{% endblock %}